/* Botones de redes sociales flotantes*/
.social-icons {
    position: fixed;
    right: 20px;
    /* Ajusta según sea necesario */
    bottom: 20px;
    /* Ajusta según sea necesario */
    display: flex;
    flex-direction: column;
    gap: 15px;

    /* Espacio entre los iconos */
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        /* Tamaño de icono más grande */
        height: 60px;
        /* Tamaño de icono más grande */
        border-radius: 50%;
        /* Hace que los botones sean redondos */
        background-color: transparent;
        /* Fondo transparente */
        box-shadow: none;
        /* Sin sombra */
        transition: transform 0.3s ease;

        /* Transición suave para efectos de hover */
        img {
            width: 100%;
            /* Asegura que la imagen llene el contenedor */
            height: 100%;
            /* Asegura que la imagen llene el contenedor */
            border-radius: 50%;
            /* Redondea las imágenes */
        }
    }

    a:hover {
        transform: scale(1.1);
        /* Aumenta el tamaño al pasar el cursor */
    }
}

/* Estilos responsive */
@media (max-width: 600px) {
    .social-icons {
        right: 10px;
        /* Reduce el margen en pantallas pequeñas */
        bottom: 10px;
    }

    .social-icons a {
        width: 50px;
        /* Tamaño de icono más pequeño en pantallas pequeñas */
        height: 50px;
    }

}